<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head profile="http://www.w3.org/2005/10/profile">
      <title>{{ organization.name }}</title>
      <meta name="apple-mobile-web-app-capable" content="yes"/>
      <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="apple-mobile-web-app-status-bar-style" content="default">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Alegreya:400,700,900' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Catamaran:400,300,500,600,700' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/dist/index.css">
   </head>
   <body>
      <div id="viewport"></div>
      <div id="account">
         <div class="nav">
            {% if me %}
               <a class="show-user-popover">
                  {{ user.name.full }}
                  <i class="icon ion-android-arrow-dropdown"></i>
               </a>
            {% else %}
               <!-- <a href="/login" class="static-link">Login</a> -->
            {% endif %}
         </div>
         {% if me %}
            <div class="user-popover mi-popover">
               <a href="/settings">
                  <span class="info">
                     Store Settings
                  </span>
               </a>
               <a href="/profile/edit">
                  <span class="info">
                     Edit Profile
                  </span>
               </a>
               <a href="/logout">
                  <span class="info">
                     Logout
                  </span>
               </a>
            </div>
         {% endif %}
      </div>
      {% include 'scripts.html' %}
      <script type="text/javascript" src="/mos/autobuild/index.js"></script>
   </body>
</html>
