<div id="home-header">
   <img src="/assets/images/logo.png" class="logo" alt="1000 Foodies">
   <div class="nav">
      <a class="view-home-about">About</a>
      <a class="view-home-showcase">Showcase</a>
      <a class="view-home-marketplace">The Marketplace</a>
      <a class="view-home-pricing">Pricing</a>
   </div>
</div>

<div id="home-view">
   <div class="home-splash">
      <div class="overlay"></div>
      <div class="headline">
         <h1>Beautiful Websites for Food Artisans & Vendors</h1>
         <h3>Themes, Marketplace, Hosting, Commerce & More</h3>

         <a href="/join" class="btn -primary">Get Started</a>
         <a class="btn -secondary">Learn More</a>
      </div>
   </div>
   <div class="home-about">
      <div class="wrapper">
         <div class="container">
            <div class="image -one">
            </div>
            <div class="image -two">
               <img src="/assets/images/home/bread-photo.jpg" alt="">
            </div>
            <div class="image -three">
               <img src="/assets/images/home/board.jpg" alt="">
            </div>

            <div class="headline">
               <div class="title">Delicious Websites For you</div>
               <div class="body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="home-hero-1">
      <div class="wrapper-narrow">
         <h3>CONNECT TO YOUR CUSTOMERS.</h3>
         <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
         </p>
      </div>
   </div>
   <div class="home-showcase">
      <div class="wrapper">
         <div class="home-showcase-vendor">
            <div class="thumbnail meat-shop">
               <div class="image" style="background-image: url(/assets/images/tagliere/home.jpg)"></div>
               <img src="/assets/images/home/salumeria-light.png" class="logo">
            </div>
            <div class="info">
               <div class="title">Il Tagliere Salumeria</div>
               <div class="subtitle">Toronto, On</div>
            </div>
            <div class="action">Take a Look</div>
         </div>
         <div class="home-showcase-vendor">
            <div class="thumbnail grill-house">
               <div class="image" style="background-image: url(/assets/images/blackangus/home.jpg)"></div>
               <img src="/assets/images/home/angus-light.png" class="logo">
            </div>
            <div class="info">
               <div class="title">Black Angus Fine Meats</div>
               <div class="subtitle">Mississauga, On</div>
            </div>
            <div class="action">Take a Look</div>
         </div>
         <div class="home-showcase-vendor">
            <div class="thumbnail french-foods">
               <div class="image" style="background-image: url(/assets/images/home/cake-thumbnail.jpg)"></div>
               <img src="/assets/images/home/canard-light.png" class="logo">
            </div>
            <div class="info">
               <div class="title">Le Canard</div>
               <div class="subtitle">Toronto, On</div>
            </div>
            <div class="action">Take a Look</div>
         </div>
      </div>
   </div>
   <div class="home-marketplace">
      <img src="/assets/images/home/ipad2.png" class="ipad">
      <div class="wrapper">
         <div class="container">

            <div class="headline">
               <div class="title">The Marketplace</div>
               <div class="subtitle">Coming Soon</div>
               <div class="body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  <ul>
                     <li>Access to the entire 1000 Foodies Customer base</li>
                     <li>Affiliate Marketing Revenue</li>
                     <li>Feature Number 3</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="home-pricing">
      <div class="wrapper">
         <div class="column">
            <div class="price">
               <div class="sign">$</div>
               45
            </div>
            <div class="label">Per Month</div>
            <div class="features">
               Website Hosting<br/>
               Secure SSL Encryption<br/>
               Painless Order Management<br/>
               Easy-to-use Sales Dashboard<br/>
               Send up to 25,000 customer emails per month
            </div>
         </div>
         <div class="column">
            <div class="price">
               <div class="sign">$</div>
               249
            </div>
            <div class="label">Setup Fee</div>
            <div class="features">
               Custom setup of your online store<br/>
               Personal tutorial of control panel<br/>
               Design & Print 1,000 free custom photo inserts<br/>
               Dedicated Account Management Team
            </div>
         </div>
         <div class="column">
            <div class="price">
               <div class="sign">$</div>
               499
            </div>
            <div class="label">Professional Photography</div>
            <div class="features">
               Great photos are the key to a great website. Delicious high-definition food photos from our hand-picked professional photographers will elevate your business to the next level. Get up to 25 photos professional photographed and edited by our team.
            </div>
         </div>
      </div>
   </div>
</div>
