<div class="col-12 ui-form">
   <div class="col-5">
      <div class="padding-60 padding-right-none">
         <div class="join-welcome-message">
            <img src="/assets/images/icons/join-account.png" alt="">
            <div class="c100">
               Welcome to 1000 Foodies! Create an account to get started. This account will be used to manage your store website.
            </div>
         </div>
      </div>
   </div>
   <div class="col-7">
      <div class="padding-48 padding-right-none">
         <div class="col-6">
            <div class="form-label">First Name</div>
            <input type="text" name="user.name.first">
         </div>
         <div class="col-6">
            <div class="form-label">Last Name</div>
            <input type="text" name="user.name.last">
         </div>
         <div class="col-12">
            <div class="form-label">Email Address</div>
            <input type="text" name="user.email">
            <div class="ui-label-description">This email address will be used to log into your account</div>

            <div class="form-label">Password</div>
            <input type="password" name="user.password">

            <div class="form-label">Confirm Password</div>
            <input type="password" name="user.confirm_password">
         </div>
      </div>
   </div>
</div>

<div class="ui-toolbar">
   <div class="actions">
      <div id="create-account" class="ui-btn">Next</div>
   </div>
</div>
