<div class="join-success-message">
   <div class="padding">
      <img src="/assets/images/icons/join-success.png" height="100px">
      <div class="title">Thank you!</div>
      <div class="c100">
         You have successfully created a 1000 Foodies account. You can start crafting your store website now!<br/>
         You can access your site at:
         <a href="https://{{ organization.slug }}.foodies.mother.co">{{ organization.slug }}.1000foodies.com</a>
         <br/><br/>
      </div>
      <a class="ui-btn" href="https://{{ organization.slug }}.foodies.mother.co">Check it Out!</a>
   </div>
</div>
